* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  position: relative;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

article {
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 900px;
  margin: 2em auto;
  padding: 0 3em;
}

article > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6em;
  text-align: center;
}

article > header h2 {
  font-size: 2em;
  font-weight: 800;
}

article > header time,
article > header address {
  font-size: 1.2em;
  color: #555;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  padding-bottom: 2em;
  border-bottom: 1px solid #ccc;
}
main {
  position: relative;
}

section h3 {
  font-size: 1.6em;
  font-weight: 700;
}

img {
  height: 200px;
}

p {
  line-height: 1.4em;
  font-size: 17px;
}

body > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  border-bottom: 0.4px solid #999;
}

body > header > nav {
  width: 100%;
  height: 4em;
  /* order: -1;  */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  background-color: rgb(15, 91, 26);
  margin-top: 2.5em;
}

nav > a {
  display: inline-block;
  color: #d8dcdc;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  animation-name:scale;
  animation-delay: 0.5s;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  transition: all 0.4s;
}

@keyframes scale {
  from{
    scale: 0.4;
  }
  to{
    scale: 1;
  }
}

nav>a:hover{
  color: #f4f3f3;
  scale: 1.2;
}

dialog {
  position: fixed;
  padding-bottom: 10px;
  left: 76%;
  bottom: 4%;
}

aside {
  position: absolute;
  height: 80%;
  padding: 0px 20px;
  top: 17%;
  left: 2%;
  border: 1px solid gray;
}

body > footer {
  display: flex;
  color: rgb(220, 220, 220);
  background-color: rgb(15, 91, 26);

  justify-content: center;
  gap: 2em;
  order: 300;
}

mark{
  background-color: rgb(180, 215, 180);
}
mark:hover{
  background-color: rgb(127, 209, 127);
}