* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

article {
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 900px;
  margin: 4em auto;
  padding: 0 3em;
}

article > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6em;
  text-align: center;
}

article > header h2 {
  font-size: 2em;
  font-weight: 800;
}

article > header time,
article > header address {
  font-size: 1.2em;
  color: #555;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  padding-bottom: 2em;
  border-bottom: 1px solid #ccc;
}

section h3 {
  font-size: 1.6em;
  font-weight: 700;
}

img {
  height: 200px;
}

p {
  line-height: 1.4em;
  font-size: 17px;
}

body > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  border-bottom: 0.4px solid #999;
}

body > header > nav {
  width: 100%;
  height: 3.5em;
  order: -1;
  display: flex;
  justify-content: center;
  /* justify-content: space-around; */
  align-items: center;
  gap: 5em;
  background-color: rgb(52, 51, 51);
  margin-bottom: 2em;
}

a {
  display: inline-block;
  color: #ddd;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
}

body > footer, dialog, aside {
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  align-items: center;
}
